<!-- Content Heading -->
<% if (title) { %>
<h1><%= title %></h1>
<% } else {
  res.redirect('/')
} %>

<!-- flash message -->
<%- messages() %>


<!-- Login form -->
 <div class="form-container">
    <form action="/account/login" method="POST">
        <label for="email">Email:</label>
        <input type="email" name="account_email" required>

        <label for="password">Password:</label>
        <input type="password" name="account_password" required pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{12,}$">
        <div class="password-note">
          <ul>
            <li>Password must have the following:</li>
            <li>-Be at least 12 characters</li>
            <li>-Contain 1 capital letter</li>
            <li>-Contain 1 number</li>
            <li>-Contain 1 special character</li>
          </ul>
        </div> 

        <button type="submit">Login</button>
    </form>
    <a class="signup-link" href="/account/register">No Account? <span class="underline">Sign-up</span></a>
 </div>