<h1>Welcome to CSE Motors!</h1>
<div class="hero-container">
    <div class="hero">
        <img src="/images/vehicles/delorean.jpg" alt="image of delorean" class="hero-image">
    </div>
    <div class="hero-info-container">
        <h2>DMC Delorean</h2>
        <ul>
            <li>3 Cup Holders</li>
            <li>Superman Doors</li>
            <li>Fuzzy Dice!</li>
        </ul>
        <img src="/images/site/own_today.png" alt="own today button">
    </div>
</div>
<div class="reviews-container">
    <h2>DMC Delorean Reviews</h2>
    <ul>
        <li>"So fast it's almost like traveling in time." (4/5)</li>
        <li>"Coolest ride on the road." (4/5)</li>
        <li>"I'm feeling McFly!" (5/5)</li>
        <li>"The most futuristic ride of our day." (4.5/5)</li>
        <li>"80's livin and I love it!" (5/5)</li>
    </ul>
</div>
<div class="upgrades-container">
    <h2>Delorean Upgrades</h2>
    <div>
        <img src="/images/upgrades/flux-cap.png" alt="flux capacitor upgrade">
        <a her="#">flux Capacitor</a>
    </div>
        <div>
        <img src="/images/upgrades/flame.jpg" alt="flame decals upgrade">
        <a her="#">Flame Decals</a>
    </div>
        <div>
        <img src="/images/upgrades/bumper_sticker.jpg" alt="bumber sticker upgrade">
        <a her="#">Bumper Stickers</a>
    </div>
        <div>
        <img src="/images/upgrades/hub-cap.jpg" alt="hub caps upgrade">
        <a her="#">Hub Caps</a>
    </div>
</div>
