/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
}

:root {
  --primary-color: #000000;
  --secondary-color: #FFFFFC;
  --accent1-color: #E6E2DB;
  --accent2-color: #3755EE;
  --accent3-color: #FF871F;
  --accent4-color: #F50000;

  --nav-background-color: #FF871F;
  --nav-link-color:#000000;
  --nav-hover-link-color: #000000;
  --nav-hover-background-color: #3755EE;

  --heading-font: 'Crimson Pro', serif;
  --paragraph-font: 'Nunito', sans-serif;
}

.nunito {
  font-family: "Nunito", sans-serif;
  font-style: normal;
}

.crimson-pro {
  font-family: "Crimson Pro", serif;
  font-style: normal;
}

/* Header */
#top-header {
  display: flex;
  justify-content: space-between;
  background-color: var(--accent1-color);
  padding: 2rem;
}

.siteName a, #tools a {
  text-decoration: none;
  color: var(--primary-color);
}

.siteName {
  font-size: 3rem;
  font-family: var(--heading-font);
}

#tools {
  font-size: 1rem;
  font-family: var(--paragraph-font);
}

/* Navigation */
nav {
  background-color: var(--accent3-color);
  color: var(--primary-color);
  display: flex;
  flex-direction: row;
  justify-content: center;
}

nav ul {
  display: flex;
}

nav li {
  text-decoration: none;
  list-style-type: none;
  font-size: 1.25rem;
  font-family: var(--paragraph-font);
  padding: 1rem;
}

nav li:hover {
  background-color: var(--accent3-color);
  transform: scale(1.2);
  font-weight: bold;
  cursor: pointer;
}
/* main body of site */
main {
  background-color: var(--accent1-color);
  
}

/* footer */

footer {
  font-family: var(--paragraph-font);
  font-size: 1rem;
  background-color: var(--accent1-color);
  padding: .5rem 2rem;
}

@media only screen and (min-width: 900px) {
  body {
    margin: 0rem 5rem;
    background-image: url('../../images/site/checkerboard.jpg');
    background-repeat: repeat;
    background-size: 25%;
    border: .3rem solid var(--accent2-color);
  }

}